################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/ConsoleApp1/obj/Debug
/ConsoleApp1/ConsoleApp1/bin/Debug
